<div id="about_background" class="wrapper wrapper_padding clearfix">
	<div id="welcome_panel" class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
    <%= link_to image_tag("bitmaker.png", size:"340x400"), "https://profiles.bitmaker.co/students/lyna-nguyen" %>
      <p>I am a well-rounded Full-Stack Web Developer. My current passion is in Front-end.</p>
      <p>My other passions are cooking, music, technology, traveling.</p>
      <p>I started my journey of media at Humber College and expanded my learning at Bitmaker, focusing on Full-Stack Web Development.</p>
      <p>My next ideal working environment: great culture, great support/mentorship, and room for growth professionally and personally.</p>
      <p>You can find my <a href="https://profiles.bitmaker.co/students/lyna-nguyen">Bitmaker Profile</a> along with my Resume, Portfolio, and Social Media.</p>
  </div>
	<div class="col-2 homepage_content">
		<h2>Stuff I've Written</h2>
		<hr>
		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d %Y") %></p>
		<% end %>
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d %Y") %></p>
    <% end %>
  </div>

	</div>
