<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @project.created_at.strftime('%B %Y') %></p>
    <h2><%= @project.title %></h2>
    <hr>
  </header>

  <div id="content">
    <!-- simple_format will have code in block and paragraphs, but will use pygments markdown gem-->
    <%= markdown @project.description %>

  <div class="button_wrapper">
    <a class="btn btn-link" href="<%= @project.link %>", target="_blank">Visit "<%= @project.title %>"</a>
  </div>

    <% if user_signed_in? %>
    <div id="admin_links">
      <%= link_to "Edit", edit_project_path(@project) %>
      <%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete this project?" } %>
      <hr>
    <% end %>
    </div>
  </div>
</div>
